{% extends "news/base.html" %}
{% block content %}
{% if form.errors %}
<p style="color:red" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Your username and password did not match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %} <!-- Cross Site Request Forgery -->
    <table>
        <tr>
            <td> {{ form.username.label_tag }} </td>
            <td> {{ form.username }} </td>

        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input type="submit" value="login"/>
    <input type="hidden" name="next" value="/" />
</form>

{% endblock %}